* {
        box-sizing: border-box;
}
body {
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        padding: 0;
        margin: 0;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
}
header {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 80px;
        
        box-shadow: 0 0px 8px rgba(212, 212, 212, 0.4);
}
header .logo {
        display: flex;
        flex: 2;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        color: #fff;
        font-size: 3rem;
        padding-left: 2rem;
        cursor: pointer;
}

header .logo {  
        display: flex;
        flex: 0;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        color: #fff;
        font-size: 3rem;
        padding-left: 2rem;
        cursor: pointer;
}
header  {
        display: flex;
        flex: 7;
}
header .search-bar {
        display: flex;
        flex: 1;
        max-width: 57rem;
        margin: 3px auto auto 2rem;
        border-radius: 30rem;
       
}
header .search-bar .search {
        display: flex;
        align-items: center;
        flex: 1;
        border: 2px solid #ff6a00;;
        margin-top: 1rem;
        height: 2.5rem ;
        border-radius: 43rem;
}
header .search-bar .search .search__input {
        
        display: flex;
        flex: 1;
        padding: 1.2rem 1rem 1.2rem 1em;;
        /* height: 9rem; */
        font-size: 0.9rem;
        color: #4a4a4a;
        border: none;
        border-radius: 0;
        position: relative;
        right: 0;
        background: url(/asset/images/icons/camera\ icon.png) ;
        background-repeat: no-repeat;
        background-position: 41rem 50%;
        background-size: 1.3rem;
        outline: 0;
        transition: background 0.3s ease-out, opacity 0.5s ease-out;
}

.product__btn{
        height: 40px;
        border: none;
        width: 5.93rem;
        background: url(/asset/images/icons/bottom-arrow.png) ;
        background-repeat: no-repeat;
        background-position: 5.0rem 50%;
        background-size: 0.9rem;
        font-size: 0.8rem;
        cursor: pointer;
        outline: 0;
        transition: all 0.4s ease-out;
        border-top-left-radius: 2rem;
        border-bottom-left-radius:2rem ;
       

}
header  .search-bar .search .search__btn {
        background: #ff6a00;
        height: 37px;
        border: none;
        width: 8.125rem;
        color: #fff;
        font-size: 0.8rem;      
        cursor: pointer;
        outline: 0;
        transition: all 0.4s ease-out;
        border-bottom-right-radius:2rem ;
        border-top-right-radius:2rem ;
      
      
        
}
.bg-logo {
      width: 0;
      height: 1.5rem;
      position: relative;
      left: 0.5rem;
    }

/* Right Header button */

.right-icons{
        margin: 1rem 3.5rem 1rem 0rem;

}

.dropbtn1 {
        background: none;
        border: none;

      }
      
      .dropbtn1::before {
        content: " Join Fre";
   
        width: 111px;
        position: absolute;
        font-size: 12px;
        margin: 19px 0px 0px 5px;
       }
       .dropbtn1::after {
        content: "Sign In";
        width: 8px;
        margin: 3px 0px 0px 0px;
        position: absolute;
        font-size: 12px;
    }
    .dropbtn2::before {
        content: "Message";
        width: 39px;
        position: absolute;
        font-size: 10px;
        margin: 30px 5px 0px 5px;
       }
       .dropbtn3::before {
        content: "Order";
        width: 28px;
        position: absolute;
        font-size: 10px;
        margin: 30px 5px 0px 5px;
       }
  
       .dropbtn4::before {
        content: "Cart";
        width: 30px;
        position: absolute;
        font-size: 10px;
        margin: 30px 5px 0px 5px;
       }
  
  

.dropbtn1 , .dropbtn2 , .dropbtn3 ,.dropbtn4 {
        background: none;
        border: none;
        margin: 0px 2px 0px 20px;
        /* font-size: 10px; */

      }
      .dropdown-profile{
              margin: auto;
              position: relative;
        display: inline-block;
        margin-right: 25px;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
        
      }
      
    
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        border-radius: 10px;
        /* min-width: 14.5rem; */
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 1;
        
      }
      .dropdown-profile > .dropdown-content {
        min-width: 18.5rem;
        left:auto;
        right:0;
        margin-right:-10px;
      }
  
    .dropdown-content:after,
    .dropdown-content:before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #ffffff;
        bottom: 15.9rem;
        content: '';
        left: 50%;
        margin-left: 111px;
        position: absolute;
    }
    
    /* Styling for second triangle (border) */

      
      .dropdown-content a {
        /* color: black; */
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #ddd; }
      
      .dropdown:hover .dropdown-content {display: block;}
      .dropdown:hover .dropdown-content {display: block;}
@media only screen and (max-width: 600px) {
        .search__input {
                font-size: 16px !important;
                opacity: 0;
                visibility: hidden;
                width: 0;
       }
        .search__btn {
                display: none !important;
       }
        .search__icon {
                display: flex !important;
                color: #fff;
                align-items: center;
                flex: 6;
                position: absolute;
                right: 5rem;
                cursor: pointer;
                height: 80px;
                line-height: 80px;
       }
        .message {
                position: relative;
                top: 80px;
                background: #f3f3f3;
                padding: 0.5rem 1.5rem;
                display: block !important;
                text-align: center;
       }
}

