.item-grid-1 {     
         grid-area: menu;
         height: 29rem;
         box-shadow: 0 0px 8px rgb(212 212 212 / 40%);
        }
.item-grid-2 { 
      
         background: url(/asset/images/products/slider.PNG);
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         height: auto;
         grid-area: main;
         box-shadow: 0 0px 8px rgba(212, 212, 212, 0.4); }
.item-grid-3 { 
         grid-area: footer; 
         box-shadow: 0 0px 8px rgba(212, 212, 212, 0.4);
         align-items: center;
         display: flex;}

.grid-container-h {
  display: grid;
  grid-template-areas:
    'menu main main main main main'
    'menu main main main main main'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  
  
  padding: 10px;
  margin: 0rem 9rem 1rem 12rem;
}

.grid-container-h > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 1rem;
}
.item-grid-3 p{
         font-size: 1rem;
}